.applyform .bg-yellow {
    background-color: yellow;
}

.applyform .form-control {
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0;
    margin-bottom: 5px;
}

header {
    width: 100%;
    height: auto;
    background: url('images/header.jpg');
    background-size: cover;
}

.logo {
    width: 350px;
    height: auto;
    /* margin: 10px 50px 10px 105px; */
}

.title {
    /* position: absolute;
    top: 0;
    right: 120px; */
    color: #fff;
    font-weight: bold;
    /* text-align: center; */
}

.mainbody {
    margin: 30px;
}

.applyform label {
    background: #eee;
    font-weight: bold;
    width: 100%;
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 7px;
}

.applyform .smallLabel {
    background-color: #fff;
    font-size: 12px;
    padding: 0;
    height: 10px
}

footer {
    background-color: #00519d;
    height: 30px;
}

/* mobile view */

@media screen and (max-width: 800px) {
    .title {
        background: #00519d;
    }
}